.Rproj.user
.Rhistory
.RData
.svn
.DS_store
.recommenders
*.aux
*.bcf
*.out
*.toc
*.log
*.run.xml
*.synctex.gz
*.o
*.so
*.a
*.tar.gz
*.d
.project
.vscode
.metadata/*
MixtComp/log
MixtComp/build
MixtComp/src/build
MixtComp/report.xml
pyMixtComp/python/build
pyMixtComp/build
pyMixtComp/reportPy.xml
JMixtComp/data/*/learn/resLearn.json
JMixtComp/data/*/predict/resPredict.json
JMixtComp/build
JMixtComp/reportJMC.xml
RMixtComp/RMCtest.xml
RMixtComp.Rcheck
RMixtCompUtilities/RMCUttest.xml
RMixtCompUtilities.Rcheck
RMixtCompIO/R/RcppExports.R
RMixtCompIO/src/lib
RMixtCompIO/src/RcppExports.cpp
RMixtCompIO/src/test/test
RMixtCompIO/RMCtest.xml
RMixtCompIO/src/libOFiles
RMixtCompIO/src/Makevars
RMixtCompIO/RMCIOtest.xml
RMixtCompIO.Rcheck
RJMixtComp/inst/exeMixtComp/jmc
RJMixtComp.Rcheck
RJMixtComp/RJMCtest.xml
!RJMixtComp/inst/extdata/*.json
RMixtCompHier.Rcheck
/.metadata/
RemoteSystemsTempFiles
__pycache__
*.egg-info
.venv