.Rproj.user
.Rhistory
.RData
.svn
.DS_store
.recommenders
*.aux
*.toc
*.log
*.synctex.gz
*.o
*.so
*.a
*.tar.gz
*.d
.metadata/*
MixtComp/log
MixtComp/release
MixtComp/debug
MixtComp/report.xml
MixtComp/data/*/learn/resLearn.json
MixtComp/data/*/predict/resPredict.json
JMixtComp/release
JMixtComp/debug
JMixtComp/reportJMC.xml
RMixtComp/RMCtest.xml
RMixtComp.Rcheck
RMixtCompUtilities/RMCUttest.xml
RMixtCompUtilities.Rcheck
RMixtCompIO/R/RcppExports.R
RMixtCompIO/src/lib
RMixtCompIO/src/RcppExports.cpp
RMixtCompIO/src/test/test
RMixtCompIO/RMCtest.xml
RMixtCompIO/src/libOFiles
RMixtCompIO/src/Makevars
RMixtCompIO/RMCIOtest.xml
RMixtCompIO.Rcheck
RJMixtComp/inst/exeMixtComp/jmc
RJMixtComp.Rcheck
RJMixtComp/RJMCtest.xml
!RJMixtComp/inst/extdata/*.json
RMixtCompHier.Rcheck
/.metadata/
RemoteSystemsTempFiles
