.Rproj.user
.Rhistory
.RData
.svn
*.aux
*.toc
*.log
*.synctex.gz
*.o
*.so
*.a
*.tar.gz
*.d
*.png
*.json
*.csv
!RJsonMixtComp/inst/extdata/*.csv
!RMixtComp/inst/extdata/*.csv
RMixtComp/.Rbuildignore
RMixtComp/R/RcppExports.R
RMixtComp/src/RcppExports.cpp
nohup.out
bin/*
JsonMixtcomp/bin/*
!JsonMixtcomp/bin/empty
lib/*
test/test
.metadata/*
boost_1_56_0/*
progress
/.metadata/
nlopt/
MixtComp/build