.Rproj.user
.Rhistory
.RData
.svn
.DS_store
.recommenders
*.aux
*.toc
*.log
*.synctex.gz
*.o
*.so
*.a
*.tar.gz
*.d
.metadata/*
MixtComp/release
MixtComp/debug
MixtComp/report.xml
RMixtComp/R/RcppExports.R
RMixtComp/src/lib
RMixtComp/src/RcppExports.cpp
RMixtComp/src/test/test
RMixtComp/RMCtest.xml
RMixtComp/src/Makevars
RJsonMixtComp/R/MIXTCOMP_*
!RJsonMixtComp/inst/extdata/*.json
/.metadata/
RemoteSystemsTempFiles
